/* burada fontları ve ikonları yüklüyoruz*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* sitemizin temel ayarlarını rootta yapıyoruz. böylece burada tanımladıktan sonra istediğimiz yerde bu arayları kullanabilliriz*/
:root {
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --transparent-light-color: rgba(255, 255, 255, 0.05);
    --transparent-dark-color: rgba(0, 0, 0, 0.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
}

/* web sayfalarının. varsayaılan margin ve pading ayarlarını sıfırlıyoruz */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px mantığı */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i {
    font-size: var(--font-size-md);
}

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section {
    padding-block: 5rem;
}

/* Header sabit olduğu için içeriği aşağı iteriz */
.section-header-offset {
    margin-top: 7rem;
}

.header {
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Bu kısım önceliği belirtmek için kullanılır. varsayılan değerler 0-1 arasındadır. 999 dememizin sebebi ise burada kullanıcı sayfada aşağı doğru indiğinde sayfa iççindeki resim ve yazılar headerimizin üstüne çıkasın istemiyoruz. */
    box-shadow: 0 1px 1rem var(--transparent-dark-color); /* Hafif gölge vermek için kullanıyoruz */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo {
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu {
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);

    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: opacity 0.25s, transform 0.25s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list {
    flex-direction: column; /* Mobilde linkler alt alta */
}

.list-link-current {
    color: var(--light-color);
}

.list-link:hover,
.btn:hover,
.btn:hover span {
    color: var(--light-color);
}

/* --- BUTONLAR --- */
.btn {
    cursor: pointer;
}
.sign-up-btn {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem; /* Köşeleri yumuşat */
}
.moon-icon {
    display: none;
}

.search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
}

.search-input {
    width: 100%;
    color: var(--light-color);
    padding: 1rem;
}

.featured-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.article-category {
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-xsm);
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.article-title {
    font-size: var(--font-size-lg);
    color: var(--light-color);
    margin-bottom: 1rem;
}

.article-data-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--light-color-alt);
    font-size: var(--font-size-xsm);
    margin-bottom: 2rem;
}
.article-data-spacer {
    width: 4px;
    height: 4px;
    background-color: var(--light-color-alt);
    border-radius: 50%;
}
.article-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #4fcf70;
    font-weight: 600;
}

#menu-toggle-checkbox,
#search-toggle-checkbox {
    display: none;
}

#menu-toggle-checkbox:checked ~ .menu {
    opacity: 1;
    transform: scale(1);
}

.close-menu-icon {
    display: none;
}

#menu-toggle-checkbox:checked ~ .list-right .menu-toggle-icon .open-menu-icon {
    display: none;
}
#menu-toggle-checkbox:checked ~ .list-right .menu-toggle-icon .close-menu-icon {
    display: block;
}

#search-toggle-checkbox:checked ~ .search-box {
    transform: scaleY(1);
}

.close-search-icon {
    display: none;
}

#search-toggle-checkbox:checked ~ .list-right .search-icon-btn .open-search-icon {
    display: none;
}
#search-toggle-checkbox:checked ~ .list-right .search-icon-btn .close-search-icon {
    display: block;
}

@media screen and (min-width: 992px) {
    .screen-lg-hidden {
        display: none !important;
    }

    .screen-sm-hidden {
        display: block !important;
    }

    .menu {
        position: relative;
        top: initial;
        right: initial;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
        box-shadow: none;
    }
    .menu > .list {
        flex-direction: row;
    }

    .featured-content {
        flex-direction: row;
    }
    .featured-article-image,
    .featured-article-data {
        width: 50%;
    }
    .featured-article-data {
        padding-left: 3rem;
    }
}
